/*-- scss:defaults --*/
$primary: #4853A4;

/* Less whitespace above the slides/video */
main {
  margin-top: -1.3em !important;
}

/* This is the color for the title "Modules" in the side bar */
.sidebar-navigation .sidebar-item {
  color: white;
}

/* Show tab buttons as round pills without borders */
.panel-tabset > .nav-tabs .nav-link,
.panel-tabset > .nav-tabs,
.panel-tabset > .tab-content {
  border: none;
  border-radius: 2rem;
}
