/*-- scss:defaults --*/
$primary: #4853A4;

/* Less whitespace above the slides/video */
main {
  margin-top: -1.3em !important;
}

/* This is the color for the title "Modules" in the side bar */
.sidebar-navigation .sidebar-item {
  color: white;
}

/* Show tab buttons as round pills without borders */
.panel-tabset > .nav-tabs .nav-link,
.panel-tabset > .nav-tabs,
.panel-tabset > .tab-content {
  border: none;
  border-radius: 2rem;
}

div.callout-tip.callout {
  border-left-color: #4853A4 !important;
  background-color: #D8DBEC !important;
}

div.callout-tip.callout-style-default > .callout-header {
  color: white;
  background-color: #8990C5 !important;
}

h1, h2, h3 {
  color: #4853A4 !important;

}

strong, b, code {
  color: #F78F2E !important;
}

/* Make slide headings smaller */
.reveal h1 {
  font-size: 2em !important;
  /* Center last slide's heading (the first slide's title is already centered) */
  text-align: center;
}
.reveal h2 {
  font-size: 0.7em !important;
}

/* Make speaker notes smaller */
.reveal.show-notes .speaker-notes p {
  font-size: 12px;
}

.reveal.show-notes .speaker-notes code {
  /* The ubuntu mono font is quite small */
  font-size: 1.2em;
}

.reveal .speaker-notes::before {
  content: "Slide notes";
}

/* Make code smaller and remove border around code block */
.reveal div.sourceCode {
  font-size: 0.8em;
  border: none !important;
}

/* Shrink font for dataframes and the dimension text printed under them */
.reveal table,
.reveal p,
.reveal li {
  font-size: 0.5em;
}

.reveal span.im,
.reveal span.st {
  color: #4853A4;
}

.reveal span.op {
  color: #f78f2e;
}

iframe.slide-deck,
iframe.video {
  width: 100%;
  height: 100%;
  min-height: 800px;
}
